<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="gallery">

	<select id="getList" parameterType="galleryDto" resultType="galleryDto">
		SELECT *
		FROM	
			(SELECT result1.*, ROWNUM as rnum
			FROM
				(SELECT num, writer, imagePath, regdate, title, content
				FROM board_gallery
				ORDER BY num DESC) result1)
		WHERE rnum BETWEEN #{startRowNum} AND #{endRowNum}
	</select>
	
	<select id="getCount" resultType="int">
		SELECT NVL(MAX(ROWNUM), 0)
		FROM board_gallery
	</select>
	
	<insert id="insert" parameterType="galleryDto">
		INSERT INTO board_gallery
		(num, writer, imagePath, regdate, title, content)
		VALUES(board_gallery_seq.NEXTVAL, #{writer}, #{imagePath}, SYSDATE, #{title}, #{content})
	</insert>
	
	<update id="update" parameterType="galleryDto">
		UPDATE board_gallery
		SET title=#{title}, content=#{content}
		WHERE num=#{num}
	</update>
	
	<select id="getData" parameterType="int" resultType="galleryDto">
		SELECT *
		FROM
			(SELECT num, writer, title, content, imagePath, regdate, 
				LAG(num, 1, 0) OVER (ORDER BY num DESC) AS prevNum,
				LEAD(num, 1, 0) OVER (ORDER BY num DESC) AS nextNum
			FROM board_gallery
			ORDER BY num DESC)
		WHERE num = #{num}
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_gallery
		WHERE num=#{num}
	</delete>
	
	<update id="addLikeCount" parameterType="int">
		UPDATE board_gallery.
	    SET likeCount=likeCount+1
	    WHERE num=#{num}
	</update>
	
</mapper>