<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="notice">
	<sql id="dto">
	num,writer,title,content,viewCount,to_char(regdate,'yyyy-mm-dd HH24:MI') as regdate
	</sql>
	<sql id="searchCondition">
		<choose>
			<when test="title != null and content != null">
				WHERE title LIKE '%'||#{title}||'%' 
				OR content LIKE '%'||#{content}||'%'
			</when>
			<when test="title != null">
				WHERE title LIKE '%'||#{title}||'%'
			</when>
			<when test="writer != null">
				WHERE writer LIKE '%'||#{writer}||'%'
			</when>
		</choose>
	</sql>
	<select id="selectList" parameterType="noticeDto" resultType="noticeDto">
		SELECT *
		FROM
			(SELECT result1.*, ROWNUM AS rnum
			FROM
				(SELECT <include refid="dto"/>
				FROM board_notice
				<include refid="searchCondition"/>
				ORDER BY num DESC) result1)
			WHERE rnum BETWEEN #{startRowNum} and #{endRowNum}
	</select>
	
	<select id="getCount" parameterType="noticeDto" resultType="int">
		SELECT NVL(MAX(ROWNUM),0) AS num
		FROM board_notice
	</select>
	
	<select id="getData" parameterType="int" resultType="noticeDto">
		SELECT result1.*
		FROM
			(SELECT num,writer,title,content,viewCount,
			to_char(board_notice.regdate,'yyyy-mm-dd HH24:MI') as regdate,profile,
				LAG(num,1,0) OVER (ORDER BY num DESC) AS prevNum,
				LEAD(num,1,0) OVER (ORDER BY num DESC) AS nextNum
			FROM board_notice
			INNER JOIN users
            ON board_notice.writer=users.id
			) result1
		WHERE num=#{num}
	</select>
	
	<select id="getData2" parameterType="noticeDto" resultType="noticeDto">
		SELECT result1.*
		FROM
			(SELECT num,writer,title,content,viewCount,
			to_char(board_notice.regdate,'yyyy-mm-dd HH24:MI') as regdate,profile,
				LAG(num,1,0) OVER (ORDER BY num DESC) AS prevNum,
				LEAD(num,1,0) OVER (ORDER BY num DESC) AS nextNum
			FROM board_notice
			INNER JOIN users
            ON board_notice.writer=users.id
		<include refid="searchCondition"/>) result1
		WHERE num=#{num}
	</select>
	
	<update id="addViewCount" parameterType="int">
		UPDATE board_notice
		SET viewCount = viewCount + 1
		WHERE num=#{num}
	</update>
	
	<insert id="insert" parameterType="noticeDto">
		INSERT INTO board_notice
		(num, writer, title, content, viewCount, regdate)
		VALUES(board_notice_seq.NEXTVAL, #{writer}, #{title},
		#{content}, 0, SYSDATE)
	</insert>
	
	<update id="update" parameterType="noticeDto">
		UPDATE board_notice
		SET title=#{title}, content=#{content}
		WHERE num=#{num}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM board_notice
		WHERE num=#{num}
	</delete>
	
	<select id="getFirstData" parameterType="noticeDto" resultType="noticeDto">
		SELECT num,writer,title,viewCount,to_char(regdate,'yyyy-mm-dd HH24:MI') as regdate
		FROM board_notice
		WHERE num IN(SELECT MAX(NUM) FROM board_notice)
	</select>
	
</mapper>